header {
    border: 1px solid black;
}
@media (min-width: 480px) { 
 
#first div, #second div {
    display: inline-block;
    
}
/* end of media query    */
}
@media screen and (min-width: 615px) {
main {
    grid-row: 2 / 3;
    grid-column: 2 /3;
}
header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

    /* end of media query    */
}

@media (min-width: 767px) { 
 
    #topRow div {
        display: inline-block;
       
    }
    #topRow {
         grid-row: 1 / 2;
         grid-column: 1 / 5;
         display: grid;
         grid-template-rows: 200px;
         grid-template-columns: 380px 380px;
    }
    #bottomRow {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        display: grid;
        grid-template-columns: 190px 190px 190px 190px;
        grid-template-rows: 250px;
    }

 /* end of media query    */
 }
    
