@media (min-width: 480px) { 
 
#first div, #second div {
    display: inline-block;
    /* width: 100%; */
}
}
@media (min-width: 767px) { 
 
    #first div, #second div, #topRow div {
        display: inline-block;
       
    }
    #topRow {
        height: 33.1%; 
         max-height: 200px;
    }
    #first, #second {
        width: 50%;
        margin: 0;
        height: 42%;
        max-height: 250px;
    }
    #first {
        display: inline-block;
    }
    #second {
        float: right;
    }
}