div {
    border: 1px solid black;
}
#a {
    width: 100%;
    background-color: crimson;
}
#a p {
    line-height: 75px;
}
#b {
    width: 100%;
    background-color: darkblue;
}
#b {
    line-height: 150px;
}

#c, #d {
    height: 125px;
    width: 100%;
}
#c p, #d p {
    line-height: 125px;
}

#e p, #f p, #g p, #h p {
    line-height: 250px;
}
#e {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
#f {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
#g {
    grid-row: 2 / 3;
    grid-column: 1 /2;
}
#h {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    }


#i {
   
    background-color: darkkhaki;
}
#i p {
    line-height: 80px;
}
#c {
    background-color: darkturquoise;
}
#d {
    background-color: forestgreen;
}
#e {
    background-color: greenyellow;
}
#f {
    background-color: indianred;
}
#g {
    background-color: ivory;
}
#h {
    background-color: rgb(180, 180, 57);
}
@media screen and (min-width: 615px) {
#b {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}
#i {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

/* end of media query     */
}


@media (min-width: 768px) {
    /* #a {
        height: 100px;
        width: 100%;
        background-color: lightgoldenrodyellow;
    } */
    header {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }
    #a p{
        line-height: 100px;
    }
    #b {
        /* height: 79%;
        max-height: 600px;
        width: 20.8%;
        background-color: greenyellow;
        float: left; */
        grid-row: 2 / 4;
        grid-column: 1 / 2;
    }
    #b p {
        line-height: 600px;
    }
    #c, #d {
        height: 100%;
    }
    #c p, #d p{
        line-height: 200px;
    }
    #c {
        grid-row: 1 /2;
        grid-column: 1 / 2;
    }
    #d {
        grid-row: 1 / 2;
        grid-column: 2 /3;
       
    }
   
    #e p, #f p, #g p, #h p {
        line-height: 250px;
    }
    #i {
        /* height: 25%;
        max-height: 150px;
        width: 100%;
        clear: both;
        background-color: darkkhaki; */
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
    #i {
        line-height: 150px;
    }
    #c {
        background-color: darkturquoise;
    }
    #d {
        background-color: forestgreen;
    }
    #e {
        background-color: rgb(47, 161, 255);
    }
    #f {
        background-color: indianred;
    }
    #g {
        background-color: rgb(218, 18, 11);
    }
    #h {
        background-color: rgb(65, 15, 182);
    }
    
    #e {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    #f {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    #g {
        grid-row: 1 / 2;
        grid-column: 3 /4;
    }
    #h {
        grid-row: 1 / 2;
        grid-column: 4 / 5;
    
        }
        /* end of media query    */
}